/* title */
#main-content h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

/* description */
#main-content p {
    font-size: 18px;
    text-align: center;
    color: #666;
    margin-top: 20px;
}

/* button */
#main-content button {
    display: block;
    margin: 0 auto 20px auto; /* changed margin for centering */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* button hover */
#main-content button:hover {
    background-color: #9400d3;
}

/* responsive */
@media screen and (max-width: 768px) {
    #main-content h1 {
        font-size: 32px;
    }
    #main-content p {
        font-size: 16px;
    }
    #main-content button {
        padding: 8px 16px;
        font-size: 16px;
    }
}

/* dont show the items at load page, they will be loaded in ../scripts/index.js */
#main-content h1,
#main-content p,
#main-content button {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

/* title */
#main-content h1.fade-in {
    opacity: 1;
}

/* description */
#main-content p.fade-in {
    opacity: 1;
}

/* button */
#main-content button.fade-in {
    opacity: 1;
}

/* add a shadow in the text to make a "glow effect" */
#main-content h1.glow {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

#graph-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
  }
  
#graph {
    width: 300px;
    height: 150px;
}
  
