/* title */
#main-content h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
}

/* description */
#main-content p {
    font-size: 18px;
    text-align: center;
    color: #666;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

/* button */
#main-content button {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #8a2be2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

/* button hover */
#main-content button:hover {
    background-color: #9400d3;
}

/* responsive */
@media screen and (max-width: 768px) {
    #main-content h1 {
        font-size: 32px;
    }
    #main-content p {
        font-size: 16px;
    }
    #main-content button {
        padding: 8px 16px;
        font-size: 16px;
    }
}

/* dont show the items at load page, they will be loaded in ../scripts/index.js */
#main-content h1,
#main-content p,
#main-content button {
    opacity: 0;
    transition: opacity 1s ease-in-out; 
}

/* title fade-in */
#main-content h1.fade-in {
    opacity: 1;
}

/* description fade-in */
#main-content p.fade-in {
    opacity: 1;
}

/* button fade-in */
#main-content button.fade-in {
    opacity: 1;
}

/* add a shadow in the text to make a "glow effect" */
#main-content h1.glow {
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.5); 
}

/* center the graph and size */
#graph-container {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px; 
    margin: auto; 

}

/* responsive on phones */
@media screen and (max-width: 768px) {
    #graph-container {
        max-width: 300px; 
    }
}